*{
  margin: 1em;
}
#contenedor{
  border: 1px black solid;
  display: flex;
  flex-direction: row;
}

#lista-empleados {
  border: 1px orange solid;
  display: flex;
  flex: 1;
}

#credencial{
  border: 1px green solid;
  display: flex;
  flex: 1;
}
#flexContainer{
  display: flex;
  border: 1px pink solid;
}
#BoxContainer{
  display: flex;
  border: 1px pink solid;
}
.empleado-item{
  border: 1px blue solid;
  flex: 1;
}
ul{
  list-style: none;
  display: flex;
  flex: 1;
  padding: 0;
  flex-direction: column;
}
#contenido-credencial{
  display: flex;

  flex-direction: column;
}
#imagen{
  display: flex;
  flex: 1;
  border: 1px pink solid;
}
li {
  border: 1px orange solid;
  flex-direction: column;
  display: flex;
  width: 25%;
  cursor: pointer;
}

p {
  color: black !important;
}
.border{
  border: 1px green solid;
}
